body {
    background-color: #F0F0F0;
     
}

.light {
    position: relative;
    background-color: #E8D0AA;
    width: 80px;
    height: 80px;
    float: left;
}

.dark {
    position: relative;
    background-color: #A67D5D;
    width: 80px;
    height: 80px;
    float: left;
}

.crown {
    position: absolute;
    right: 25%;
    top: 27%;
    width: 50%;
}

#board {
    width: 640px;
    height: 640px;
    margin: auto;

}

@media screen and (max-width: 500px)
{

    body {
        background-color: #F0F0F0;
        margin:0 auto; 
    }
    .light {
        position: relative;
        background-color: #E8D0AA;
        width: 40px;
        height: 40px;
        float: left;
    }
    
    .dark {
        position: relative;
        background-color: #A67D5D;
        width: 40px;
        height: 40px;
        float: left;
    }
    
    .crown {
        position: absolute;
        right: 25%;
        top: 27%;
        width: 50%;
    }
    
    #board {
        width: 320px;
        height: 320px;
        margin: auto;
    
    }
   
}

  
